[submodule "submodules/neural-subgraph-matcher-miner"]
	path = submodules/neural-subgraph-matcher-miner
	url = https://github.com/rejuve-bio/neural-subgraph-matcher-miner.git
[submodule "submodules/custom-atomspace-builder"]
	path = submodules/custom-atomspace-builder
	url = https://github.com/rejuve-bio/custom-atomspace-builder.git
[submodule "submodules/annotation-query-backend"]
	path = submodules/annotation-query-backend
	url = https://github.com/rejuve-bio/annotation-query-backend.git
[submodule "submodules/annotation-tool"]
	path = submodules/annotation-tool
	url = https://github.com/rejuve-bio/annotation-tool.git
